################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataModels/obj
/DataModels/bin/Debug/net6.0
