<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://func-vencrud-ojjw-syddev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9d86f3d4-3ebe-4195-80ed-daeff325e8f6/resourceGroups/rg-mainsite-ojjw-syddev/providers/Microsoft.Web/sites/func-vencrud-ojjw-syddev</ResourceId>
    <UserName>$func-vencrud-ojjw-syddev</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-vencrud-ojjw-syddev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>